body {
    width:100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
}

.header{
    background-image: url(solar.png);
    color: white;
}

#head {
    background-color: blueviolet;
    opacity: 0.9;
}

.topmost {
    padding-top: 1rem;
    padding-bottom: 0rem;
    padding-right: 2rem;
}

.topper {
    padding-left: 3rem;
}

.navbar-nav li {
    padding-right: 2rem;
}

.navbar-nav li a {
    color: white;
}

.con {
    padding-left: 3rem;
    padding-top: 6rem;
    padding-bottom: 12rem;
}

#top {
    margin-top: 6rem;
}

#middle {
    margin-top: 7rem;
    margin-bottom: 7rem;
}

.cont {
    background-color: blueviolet;
    color: white;
}

#middletop {
    padding-top: 6rem;
}

#third {
    margin-top: 3rem;
    padding-bottom: 6rem;
}

.contain {
    background-color: ghostwhite;
}

#fourth {
    padding-top: 4rem;
    padding-bottom: 3rem;
}

#midfourth {
    padding-bottom: 4rem;
}

#fifth {
    margin-top: 7rem;
    margin-bottom: 3rem
}

#but {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

#sixth {
   
}

#down {
    background-color: honeydew;
}

#last {
    background-color: ghostwhite;
    padding-top: 6rem;
    padding-bottom: 4rem;
}

#toplast {
    padding-top: 5rem;
}

#do {
    padding-top: 2rem;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: blueviolet;
    color: white;
}  

#footrow {
    padding-top: 8rem;
    padding-bottom: 6rem;
}

#footdown {
    padding-top: 2rem;
    padding-bottom: 7rem;
}